<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">

<head>
<title>Home</title>
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">

				<div layout:fragment="content">

					<h1>Welcome</h1>

					<h5>Token Tests</h5>
					<a href="/propagate-credentials" class="btn btn-info">Test Credentials Propagation</a>
					<a href="/client-credentials" class="btn btn-info">Test Client Credentials</a>

					<br>
					<br>
					<h5>Scope Tests</h5>
					<a href="/openid" class="btn btn-info">OpenId</a>
					<a href="/offline" class="btn btn-info">Offline</a>
					<a href="/profile-read" class="btn btn-info">Profile.Read</a>

					<br>
					<br>
					<h5>LDAP Group Tests</h5>
					<a href="/manager" class="btn btn-info">Managers Only</a>
					<a href="/developer" class="btn btn-info">Developers Only</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>